html {
    box-sizing: border-box;
    background-color: hsl(24, 100%, 64%);
    font-family: 'Lobster Two', sans-serif;
    font-size: 18px;
}

h1 {
    text-align: center;
    margin: 3rem 0;
    color: hsl(285, 90%, 40%);
    font-weight: 700;
}

table {
  border-collapse: collapse;
  width: 40%;
  margin: 0 auto;
  background-color: hsl(0, 100%, 94%);
  color: hsl(285, 90%, 40%);
}

td, .tblehead {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

td {
  font-weight: 500;
}

.tblehead {
  text-align: center;
  font-size: 1.3rem;
}


  code {
    background-color: hsl(0, 100%, 89%);
    color: hsl(285, 90%, 40%);
  }

