html {
    box-sizing: border-box;
    background-color: rgb(255, 159, 90);
}

h1 {
    text-align: center;
    margin: 2rem 0;
    color: rgb(145, 10, 192);
}

table {
    border-collapse: collapse;
    width: 40%;
    margin: 0 auto;
    background-color: #FFE2E2;
    color: rgb(145, 10, 192);
}

th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
  }

  th {
    text-align: center;
  }

  code {
    background-color: rgb(255, 199, 199);
    color: rgb(145, 10, 192);
  }

